*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.1rem;
  font-family: "Rubik", sans-serif;
  overflow-y: hidden;
  background: #020228;
}

.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 100;
  display: grid;
  place-items: center;
}
.preloader ul {
  display: flex;
}
.preloader ul li {
  display: block;
  width: 0.4em;
  height: 40px;
  background: deeppink;
  margin: 0 0.5em;
  animation: loader 3s linear infinite;
  transform: scaleY(0);
  transform-origin: bottom;
}
.preloader ul li:nth-child(2) {
  animation-delay: 0.3s;
}
.preloader ul li:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes loader {
  0% {
    transform: scaleY(0);
  }
  10% {
    transform: scaleY(0);
  }
  20% {
    transform: scaleY(1);
  }
  30% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
header {
  position: relative;
  width: 100%;
  min-height: 40vh;
  padding: 2.5em 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  color: white;
  margin: 0.8em 0;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}
header .videobkg {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  filter: brightness(60%);
}

.results {
  padding: 1em;
  position: absolute;
  background: white;
  width: 65em;
  height: 10em;
  border-radius: 0.5em;
  bottom: -5em;
  border: 1px solid deeppink;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
  z-index: 50;
}

.card {
  padding: 0.4em;
  border-right: deeppink 2px solid;
}
.card h5 {
  color: #969696;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.card h3 {
  color: deeppink;
}
.card:nth-child(4) {
  border-right: none;
}

.input-wrapper {
  width: 35em;
  height: 3.1em;
  display: flex;
}
.input-wrapper input {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 1em;
  border-radius: 0.5em 0 0 0.5em;
  cursor: pointer;
  font-weight: 700;
}
.input-wrapper button {
  display: block;
  width: 10%;
  height: 100%;
  background: deeppink;
  outline: none;
  border: none;
  border-radius: 0 0.8em 0.8em 0;
  cursor: pointer;
  transition: 0.2s;
}
.input-wrapper button img {
  filter: invert(1);
  width: 2em;
}
.input-wrapper button:hover {
  background: pink;
}

.refresh {
  border-radius: 0.5em;
  background: deeppink;
  place-items: center;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  display: none;
}
.refresh img {
  width: 2em;
  cursor: pointer;
  filter: invert(1);
}

.map {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 60vh;
  overflow-y: hidden;
  transition: 0.3s;
  background: black;
}

.error-popup {
  position: fixed;
  top: 0;
  left: -20em;
  width: 15em;
  height: 4em;
  background: red;
  display: grid;
  place-items: center;
  color: white;
  transition: 0.4s;
}

.error-popup-show {
  left: 0;
  transition: 0.3s;
}

.error-popup-hide {
  left: -20em;
  transition: left 0.4s;
}

#ip {
  transition: 0.5s;
}

@media screen and (max-width: 1100px) {
  .results {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(25%, 25%));
  }
}
@media screen and (max-width: 870px) {
  .results {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    min-height: 20em;
    bottom: -14em;
  }

  .card {
    border-right: none;
    border-bottom: #969696 1px solid;
  }
  .card:nth-child(4) {
    border-bottom: none;
  }
}
@media screen and (max-width: 750px) {
  .input-wrapper {
    width: 25em;
  }
  .input-wrapper input {
    width: 80%;
  }
  .input-wrapper button {
    width: 20%;
  }
}
@media screen and (max-width: 420px) {
  header {
    padding: 2.5em 3em;
  }

  .results {
    bottom: -17em;
  }

  .logo img {
    width: 5em;
  }

  .input-wrapper {
    width: 20em;
  }

  .refresh {
    width: 3.5em;
    height: 3.5em;
  }
  .refresh img {
    width: 2em;
  }
}
@media screen and (max-width: 340px) {
  html {
    font-size: 1rem;
  }

  header {
    padding: 2em 2em;
  }

  .input-wrapper {
    width: 15em;
  }
}

/*# sourceMappingURL=style.css.map */
